<h1>Menus collection</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>path</th>
      <th>position</th>
      <th>en</th>
      <th>bg</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for(item of (menu$ | async); track item.id) {
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.path }}</td>
      <td>{{ item.position }}</td>
      <td>{{ item.label.en }}</td>
      <td>{{ item.label.bg }}</td>
      <td><button (click)="editItem(item.id)">Edit</button></td>
    </tr>
    }
  </tbody>
</table>
<button (click)="addNewItem()">Create Menu</button>
