button {
    margin: 10px;
}

.button-group {
    display: flex;
    justify-content: space-around;
}

.long-input {
    // background-color: red;
    grid-column: 1 / span 2;

    @media (max-width: 768px) {
        grid-column: 1;
    }
}

.italic {
    text-decoration: underline;
}