<h1>Posts collection</h1>

<div class="create-button">
  <button mat-flat-button (click)="addNewItem()">
    <mat-icon>post_add</mat-icon>Create Post
  </button>
</div>

<div class="grid-container">
  <!-- <mat-grid-list cols="2" rowHeight="2:1"> -->
  @for(item of (groupedPosts$ | async); track item[0].menuPath) {
  <!-- <mat-grid-tile> -->
  <mat-card>
    <mat-card-header>
      <div>{{ item[0].menuPath }}</div>
    </mat-card-header>

    <mat-card-content>
      @for(post of (item); track post.id) {
      <div>
        <a mat-button [routerLink]="['/dashboard/posts/edit', post.id]">
          <mat-icon>edit</mat-icon>{{ post.subMenuPath }}
        </a>
      </div>
      }
    </mat-card-content>
  </mat-card>
  <!-- </mat-grid-tile> -->
  }
  <!-- </mat-grid-list> -->
</div>
