<h4>Dashboard</h4>
<nav>
  <a mat-button routerLink="/dashboard/storage" routerLinkActive="active">Storage</a> 
  <a mat-button routerLink="/dashboard/menus" routerLinkActive="active">Menus</a> 
  <a mat-button routerLink="/dashboard/posts" routerLinkActive="active">Posts</a> 
  <a mat-button routerLink="/dashboard/members" routerLinkActive="active" >Members</a> 
  <a mat-button routerLink="/dashboard/member-types" routerLinkActive="active"
    >Member Types</a
  >
</nav>
<router-outlet></router-outlet>
