/* You can add global styles to this file, and also import other style files */
@import 'quill/dist/quill.snow.css';

a:visited, a {
    color: lightgrey;
}

input {
    display: block;
}

label {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 4px;
}

body {
    background-color: rgb(49, 49, 49);
    color: lightgrey;
}

button {
    margin: 5px 5px 5px 0;
}