button {
    margin: 10px;
}

mat-card {
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

mat-card-header {
    display: flex;
    justify-content: center;
    background-color: var(--mat-sys-secondary);
    color: var(--mat-sys-on-secondary);
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}